@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.containerr{
    margin: 2px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    box-shadow: 10px 10px 100px 30px rgb(6, 6, 6);
    width: 100%;
}

.title {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    margin:0px 0px 0px 0px ;
    color: rgb(255, 255, 255);
    padding: 10px;
    height: fit-content;
}

ul.list-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.list-items{
    font-size: 22px;
    font-weight: 500;
    color: white;
}
.list-items:hover{
    transition: all ease-in-out 0.5ms;
}
/* bitch css  */
.MobileNavigation{
    display: none;
}

.HamburgerMenu{
    top: 15px;
}

.ham-container{
    position: relative;
    top:20px;
    right: 20px;
    display:none ;
}
h2.head{
    color: white;
}

@media (max-width: 1200px){

    ul.list-holder{
        display: none;
    }
    .ham-container{
        position: relative;
        top:20px;
        right: 20px;
        display:block ;
    }
}

@media (max-width: 449px){

    .title{
        padding: 2px;
        font-size: 45px;
    }
    .ham-container{
        position: absolute;
        right: 20px;
        bottom: 20px;
        /* bottom: 20px; */
    }
}
@media (max-width: 375px){

    .title{
        padding: 2px;
        font-size: 40px;
    }
    .ham-container{
        position: absolute;
        top: 15px;
    }
}
@media (max-width: 338px){

    .title{
        padding: 0px;
        font-size: 35px;
    }
    .ham-container{
        position: absolute;
        top: 11px;
        bottom: 5px;
    }
}
