.container{
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;
    max-height: auto;
}

.head{
    margin-top: 1.7rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    text-decoration: underline;
    max-height: auto;

}

.rowss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    height: 100%;
    width: 100%;
    max-height: auto;
    
}

.col-4 {
    flex: 0 0 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    margin: 10px;
    height: fit-content;
    max-height: auto;
}
.col-4 {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 10px;
    height: auto; 
    height: fit-content;
    max-height: auto;
} 

.prev-next .btn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin:10px ;
}
.error-msg{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vw;
}
@media (max-width: 1489px) {
    .col-4{
        margin: 0px;
        padding: 6px;
    }
}
@media (max-width: 1290px) {
    .col-4 {
        flex: 0 0 calc(33.3% - 20px);
        max-width: calc(33.3% - 20px); 
    }
}
@media (max-width: 955px) {
    .col-4 {
        flex: 0 0 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
        
    }
}


@media (max-width: 659px) {
    div.col-4 {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px); 
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
