.container{
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;
    max-height: fit-content;
    min-height: fit-content;
    padding: 2px;
    box-sizing:content-box;
}

.head{
    margin-top: 1.7rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    text-decoration: underline;
    max-height: auto;

}

.rowss {
     display: flex;
     flex-direction: row;
     flex-wrap:wrap-reverse;
     align-items: center;
     height: fit-content;
     max-height: fit-content;
     min-height: fit-content;

}

.col-4 {
    flex: 0 0 calc(25% - 5px); 
    max-width: calc(26% - 20px);
    margin: 2px;
    height: fit-content;
    max-height: auto;
    max-height: fit-content;
    min-height: fit-content;
}
.prev-next .btn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin:10px ;
}
.error-msg{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vw;
}
@media (max-width: 1489px) {
    .col-4{
        margin: 0px;
        padding: 6px;
    }
}
@media (max-width: 1290px) {
    .col-4 {
        flex: 0 0 calc(33.3% - 5px);
        max-width: calc(33.3% - 20px); 
    }
}
@media (max-width: 955px) {
    .col-4 {
        flex: 0 0 calc(50% - 5px); 
        max-width: calc(50% - 20px); 
        
    }
}


@media (max-width: 659px) {
    div.col-4 {
        flex: 0 0 calc(100% - 5px);
        max-width: calc(100% - 20px); 
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
